html, body {
    overflow-x: hidden; /* 수평 스크롤 숨기기 */
    overflow-y: hidden; /* 수평 스크롤 숨기기 */
    padding: 0;
    margin: 0;
}

/* .map_wrap와 그 하위 요소에 공통 스타일 적용 */
.map_wrap, .map_wrap * {
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
}

/* 지도를 표시할 컨테이너 스타일 */
.map_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.daumIndex {
            position: absolute; /* 지도 위에 검색창이 위치하도록 */
            top: 10px; /* 상단에서의 위치 */
            left: 20px; /* 좌측에서의 위치 */
            z-index: 10; /* 지도보다 위에 표시 */
            padding: 0; /* 패딩 제거 */
            border-radius: 5px; /* 모서리 둥글게 */
        }
        .header-container {
            align-items: center; /* 세로 정렬 */
            background-color: #0064FF; /* 배경 색상 */
            border: 1px solid #e2e2e2; /* 테두리 색상 */
            border-radius: 5px; /* 모서리 둥글게 */
            box-shadow: 0 1px 0px rgba(37, 216, 248, 0.5);
        }
        .title-container {
            padding: 10px; /* 내부 여백 */
        }
        .title-container h2 {
            margin: 0;
            color: #ffffff; /* 제목 색상 */
            font-size: 18px;
        }
        .fld_inside {
            margin: 10px;
            padding: 5px 10px;
            border: none;
            display: flex; /* 제목과 검색창을 나란히 배치 */
            position: relative; /* 아이콘을 fieldset 외부에 표시하기 위해 상대 위치 설정 */
        }
        .title-container h2 a {
            color: #ffffff; /* 링크 색상 유지 */
            text-decoration: none; /* 링크의 밑줄 제거 */
        }

        #keyword {
            border : none;
        }

        #showMenuBtn {
            border : none;
            background: none;
        }

        #keyword {
            width: 200px; /* input의 너비를 넓게 설정 */
            height: 30px; /* input의 높이를 form 높이에 맞춤 */
            margin-right: 1px;
            padding: 5px; /* 내부 여백 설정 */
            font-size: 14px; /* 텍스트 크기 증가 */
            border: none; /* 테두리 제거 */
            border-radius: 5px; /* 모서리 둥글게 */
            padding-left: 10px;
        }

        #showMenuBtn {
            width: 35px; /* 버튼의 너비 */
            height: 30px; /* 버튼 높이 */
            border: none;
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

/* 검색 결과 목록의 스타일 */
#menu_wrap {
    display: none; /* 기본적으로 표시됨 */
    position: absolute;
    top: 50px;
    left: 40px;
    bottom: 0;
    width: 270px; /* 메뉴 너비 */
    height: 250px;
    margin: 10px 0 30px 10px;
    padding: 5px;
    overflow-y: auto; /* 세로 스크롤 추가 */
    background: rgba(255, 255, 255, 0.7); /* 반투명 흰색 배경 */
    z-index: 1; /* 지도 위에 표시되도록 설정 */
    font-size: 12px;
    border-radius: 10px; /* 모서리 둥글게 설정 */
}

/* 메뉴 배경을 흰색으로 설정하는 클래스 */
.bg_white {
    background: #fff;
}

/* 메뉴 내의 수평선 스타일 */
#menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5F5F5F; /* 회색 선 */
    margin: 3px 0;
}

/* 옵션 영역 가운데 정렬 */
#menu_wrap .option {
    text-align: center;
}

/* 옵션 영역의 문단 간격 */
#menu_wrap .option p {
    margin: 10px 0;
}

/* 옵션 영역 버튼의 왼쪽 여백 */
#menu_wrap .option button {
    margin-left: 5px;
}

/* 장소 목록 항목의 기본 스타일 */
#placesList li {
    list-style: none; /* 리스트 스타일 제거 */
}

/* 장소 목록 항목 스타일 */
#placesList .item {
    position: relative;
    border-bottom: 1px solid #888; /* 항목 간 구분선 */
    overflow: hidden;
    min-height: 65px; /* 최소 높이 */
}

/* 장소 목록 항목 내부 텍스트 스타일 */
#placesList .item span {
    display: block;
    margin-top: 4px;
}

/* 항목 제목(h5)과 정보(info)의 텍스트 넘침 처리 */
#placesList .item h5, #placesList .item .info {
    text-overflow: ellipsis; /* 넘칠 경우 말줄임표 */
    overflow: hidden; /* 넘침 숨김 */
    white-space: nowrap; /* 한 줄로 표시 */
}

/* 장소 정보(info)의 패딩 설정 */
#placesList .item .info {
    padding: 10px 0 10px 55px; /* 좌측 여백 추가 */
}

/* 정보 영역에서 부가 주소 회색 */
#placesList .info .gray {
    color: #8a8a8a;
}

/* 지번 주소 스타일 */
#placesList .info .jibun {
    padding-left: 26px; /* 좌측 여백 */
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

/* 장소 목록 마커 배경 스타일 */
#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

/* 각각의 마커 위치 설정 */
#placesList .item .marker_1 {
    background-position: 0 -10px;  }
#placesList .item .marker_2 {
    background-position: 0 -56px;  }
#placesList .item .marker_3 {
    background-position: 0 -102px;  }
    
#header-container2 {
    z-index: 1;
    height : 50px;
    display: flex; /* 제목과 검색창을 나란히 배치 */
    align-items: center; /* 세로 정렬 */
    background-color: #ffffff; /* 흰색 배경 */
    border: 1px solid #e2e2e2; /* 테두리 색상 */
    border-radius: 5px; /* 모서리 둥글게 */
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
}

        /* 재난 아이콘 관련 스타일 서식 */
        .icons-container {
            display: flex; /* 제목과 검색창을 나란히 배치 */
            align-items: center; /* 세로 정렬 */
            background-color: #ffffff; /* 흰색 배경 */
            margin-left: 10px;
            background: none;
        }
        .box_Icons {
            display: flex; /* 검색창을 가로로 배열 */
            align-items: center; /* 세로 정렬 */
            padding : 0;
            position: relative;
        }
        #showIconsBtn { /* 재난 버튼 */
            background-color: #ffffff;
            color: #000000;
            padding: 10px 15px;
            font-size: 16px;
            border: 0.5px solid gray;
            border-radius: 4px; /* 모서리 둥글게 */
            box-shadow: 0 2px 0px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
        }
        #showIconsBtn:hover { /*재난 버튼 마우스 올린 후*/
            background-color: #0056b3;
            color: #ffffff;
        }
        #showIconsBtn:hover + #iconContainer { /*재난 버튼에 마우스 올리면 나타나는 컨테이너*/
            display: flex; /* 아이콘 컨테이너가 보이도록 설정 */
        }
        #iconContainer:hover { /* 컨테이너에 마우스를 올릴 경우 */
            display: flex; /* 아이콘 컨테이너가 보이도록 설정 */
        }
        #iconContainer {
            display: none; /* 기본적으로 숨김 상태 */
            flex-wrap: wrap; /* 2열로 감싸기 */
            justify-content: center; /* 아이콘들 간 중앙 정렬 */
            width: 150px; /* 아이콘 컨테이너의 너비 */
            position: absolute; /* 버튼을 기준으로 위치시키기 */
            top: 45px; /* 버튼 아래쪽에 위치 */
            z-index: 10; /* 다른 요소 위에 표시 */
            background-color: white; /* 배경 색상 */
            border: 0.5px solid gray;
            border-radius: 4px; /* 모서리 둥글게 */
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
        }
        .icon {
            font-size: 15px;
            margin: 3px; /* 아이콘 간 간격 조정 */
            width: 65px; /* 각 아이콘의 너비 */
            text-align: center; /* 아이콘 텍스트 가운데 정렬 */
            transform: translateX(-8px);
        }
        .special-icon {
            width: 100%; /* 한 줄을 통째로 차지 */
            text-align: center; /* 가운데 정렬 */
            font-size: 15px;
        }

        /* 로그인, 게시판 */
        .header-container3 {
            position: fixed; /* 화면에 고정 */
            right: 20px; /* 로그인 위치 */
            top: 35px; /* 로그인 위치를 원하는 위치로 조정 */
            z-index: 10;
        }
        .header-container4 {
            position: fixed; /* 화면에 고정 */
            right : 100px;
            top: 35px; /* 게시판 위치 */
            z-index: 10;
        }
        .link {
            color: #000000; /* 링크 글자 색상 */
            background-color: #ffffff; /* 배경 색상 */
            padding: 8px 12px; /* 패딩 */
            border: 0.5px solid gray;
            border-radius: 4px; /* 모서리 둥글게 */
            text-decoration: none; /* 밑줄 제거 */
            font-size: 14px; /* 글자 크기 */
            display: inline-block; /* 크기 조정 가능 */
            z-index: 10;
            box-shadow: 0 2px 0px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
            line-height: 25px; /* 텍스트 수직 중앙 정렬 */
        }
        .link:hover {
            color:#007bff;
            z-index: 10;
        }

        /* 확대 축소 스크롤 위치 조정 */
        #map {
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }
        /* 커스텀 확대/축소 버튼 */
        .zoom-btn {
            position: absolute;
            top : 120px;
            right: 20px;
            display: flex;
            flex-direction: column;
            z-index: 10;
        }
        .zoom-btn button {
            background-color: #ffffff;
            color : #000000;
            padding: 0;
            margin-bottom: 5px;
            border: 0.5px solid gray;
            border-radius: 4px; /* 모서리 둥글게 */
            font-size: 20px;
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            width: 33px; /* 모든 버튼의 가로 크기 통일 */
            height: 33px; /* 모든 버튼의 세로 크기 통일 */
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
        .zoom-btn button:hover {
            background-color: #f0f0f0;
        }
        .zoom-btn button img {
            max-width: 100%; /* 이미지 크기 버튼에 맞춤 */
            max-height: 100%; /* 이미지 크기 버튼에 맞춤 */
        }

        /* 현위치 */
        #currentLocationBtn {
            position: absolute;
            top : -40px;
        }
